check program io_congestion
  with path "/usr/local/bin/check_io_congestion.sh"
  every {{ monit_hw_check_cycles }} cycles
  if status == 1 for 3 cycles then alert
  if status == 2 for 2 cycles then alert
